.main {
   max-width: 637px;
   width: 100%;
   margin: 144px auto 149px;
   text-align: center;
 
   .title {
     font-weight: 500;
     font-size: clamp(1.688rem, -2.221rem + 19.54vw, 2.75rem);
     margin-bottom: 28px;
   }
 
   .form {
     display: flex;
 
     .inp {
       border-radius: 5px;
       background: #fafafa;
       padding: 29px;
       width: 80%;
       border: none;
       outline: none;
       font-size: 14px;
 
       &::placeholder {
         opacity: 0.6;
       }
     }
 
     .btn {
       border-radius: 5px;
       background: #d64374;
       font-weight: 500;
       font-size: 20px;
       color: #fff;
       width: 20%;
       border: none;
       transition: 0.5s;
       cursor: pointer;
 
       &:hover {
         background: rgba(21, 1, 1, 0.6);
       }
     }
   }
 }
 