.container {
  display: flex;
  align-items: center;
  gap: 10px;

  .block {
    border-radius: 3px;
    width: 30px;
    height: 30px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text {
    font-size: 22px;
  }
}
