.header {
  background: #f2ceda;
  display: flex;
  padding: 0 10px 30px;

  .container {
    max-width: 1125px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .block {
      max-width: 665px;
      width: 100%;

      @media (max-width: 1145px) {
        text-align: center;
        margin: 0 auto;
      }

      .subtitle {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.1em;
      }

      .title {
        font-size: clamp(1.688rem, -0.182rem + 9.35vw, 3.563rem);
        line-height: 121%;
        margin: 6px 0 35px;

        .lead {
          color: #d23166;
        }
      }

      .text {
        font-family: var(--second-family);
        font-size: 18px;
        line-height: 150%;
        color: rgba(15, 1, 1, 0.6);
        margin-bottom: 50px;
      }

      .btn {
        padding: 13px 50px;
        background: #d23166;
        border-radius: 5px;
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 16px;
        color: #fafafa;
        border: none;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
          background: rgba(21, 1, 1, 0.6);
        }
      }
    }
  }

  .img {
    max-width: 505px;
    width: 100%;

    @media (max-width: 1145px) {
      display: none;
    }
  }
}
